<h2 class="ui header">
  <i class="smile outline blue icon"></i>
  <div class="content">
    トーク
    <div class="sub header">マイオープンチャット</div>
  </div>
</h2>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid card chatbox">
      <div class="content">
        <div class="ui feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Christian Rocha</em>: テストメッセージをこちらに表示
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" placeholder="メッセージを記入してください">
              <i class="bordered inverted blue edit icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card chatbox">
      <div class="content">
        <div class="ui vertical pointing menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>