<a class="item">
Myチャット
</a>
<a class="item">
メッセージ
</a>
<div class="right menu">
	<div class="ui dropdown item">
		アカウント <i class="dropdown icon"></i>
		<div class="menu">
			<a class="item">ログアウト</a>
			<a class="item">ログイン</a>
		</div>
	</div>
	<div class="item">
			<div class="ui primary button">アカウント登録</div>
	</div>
</div>